.card.mt-2
  .card-header
    .fas.fa-user
      - if user.online?
        .text-success.fas.fa-circle
      - else
        .text-danger.fas.fa-circle
    = link_to user.email, user_path(user)
  .card-footer
    User's courses
    %b= user.courses.count
  .card-footer
    Signed up
    %b= time_ago_in_words(user.created_at)
    ago
  .card-footer
    .row
    %b= 'Last sign in'
    = format_date user.last_sign_in_at
  .card-footer
    - user.roles.each do |role|
      .badge.badge-info
        = role.name
    - if policy(user).edit?
      = link_to 'Edit roles', edit_user_path(user), class: 'btn btn-sm btn-warning'
    