- content_for :title do
  WeLearn
  \|
  = @user.email


= render 'users/user', user: @user

.card-header
  .text-center
    %h5
      My courses(
      = @user.courses.count
      )
    %br
.card-footer
  .row
    - @user.courses.each do |course|
      .col-xs-12.col-md-3
        = link_to  course.title, course_path(course)
.card-header
  .text-center
    %h5
      My enrollment(
      = @user.enrollments.count
      )
    %br
.card-footer
  .row
    - @user.enrollments.each do |enrollment|
      .col-xs-12.col-md-3
        = link_to  enrollment.course.title, enrollment_path(enrollment)