- content_for :title do
  WeLearn
  \|
  New enrollment

.card
  .card-header
    %h3 
      .fa.fa-graduation-cap
      Buy
      = link_to @course.title, course_path(@course)
  .card-body
    = form_tag course_enrollments_path(@course) do
      = submit_tag "Buy now #{@course.price}", class: "btn btn-lg btn-success"
  .card-footer
    = link_to 'Back', course_enrollments_path(@course)
