-# frozen_string_literal: true
= simple_form_for(@course) do |f|
  - if @course.errors.any?
    #error_explanation
      %h2
        = pluralize(@course.errors.count, "error")
        prohibited this course from being saved:
      %ul
        - @course.errors.full_messages.each do |message|
          %li= message

  .form-inputs
    = f.input :title
    = f.label :description
    = f.rich_text_area :description
    %small= f.error :description, class: 'text-danger'
    = f.input :short_description
    = f.input :language
    = f.input :level, collection: ["Beginner", "Intermediate", "Advanced"]
    = f.input :price

  .form-actions
    = f.button :submit
    