.text-center
  %h3
    Available courses:
    .badge.badge-info
      = @courses.count
  %br

.row
  .col-md-2
    = search_form_for @ransack_courses, as: :courses_search, url: courses_path do |f|
      = f.label :title
      = f.search_field :title_cont, placeholder: 'Criminology 101', class:"form-control form-control-sm"
      = f.label :price
      = f.search_field :price_eq, placeholder: '10', class:"form-control form-control-sm"
      = f.label :language
      = f.search_field :language_cont, placeholder: 'English', class:"form-control form-control-sm"
      = f.label :level
      = f.search_field :level_cont, placeholder: 'Beginner', class:"form-control form-control-sm"
      = f.label :teacher
      = f.search_field :user_email_cont, placeholder: 'User email', class:"form-control form-control-sm"
      .mt-1
      = f.submit
    = link_to courses_path do
      .fas.fa-sync
    
  .col-md-8 
    .card-columns
      - @courses.each do |course|
        = render 'courses/course', course: course
    != pagy_bootstrap_nav(@pagy)
%br